---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Develop - QA</title>
	</head>
	<body>
		<h1>Develop - QA</h1>
	</body>
</html>

<style>
  h1 {
    color: #43484D;
    font-size: 0.75rem;
	font-weight: normal;
    font-family: sans-serif;
  }
</style>